MONGO_INITDB_ROOT_USERNAME=seu_usuario_mongo
MONGO_INITDB_ROOT_PASSWORD=sua_senha_mongo
MONGO_INITDB_DATABASE=alunosdb

POSTGRES_USER=seu_usuario_postgres
POSTGRES_PASSWORD=sua_senha_postgres
POSTGRES_DB=alunosdb

SPRING_DATASOURCE_URL=jdbc:postgresql://postgres-db:5432/alunosdb
SPRING_DATASOURCE_USERNAME=seu_usuario_postgres
SPRING_DATASOURCE_PASSWORD=sua_senha_postgres
SPRING_DATA_MONGODB_URI=mongodb://seu_usuario_mongo:sua_senha_mongo@mongo-db:27017/alunosdb